[submodule "chCore/externals/SDL3"]
	path = Externals/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "chEditor/externals/nativefiledialog-extended"]
	path = chEditor/externals/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "chCodecs/chMeshCodec/externals/assimp"]
	path = chCodecs/chMeshCodec/externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "chImgui/Externals/imgui"]
	path = chImgui/Externals/imgui
	url = https://github.com/ocornut/imgui.git
  branch = docking
