# Exclude build
build/

# Exclude code files
*.vscode/
*.vs/

# Exclude CMakeSettings.json
CMakeSettings.json

# Exclude Resource
[Rr]esources/
[Aa]ssets/

!resources/shaders/

#eclude dlls or shared libraries
*.dll
*.so

#exclude .ini
*.ini
