# Exclude build
build/

# Exclude code files
*.vscode/
*.vs/

# Exclude CMakeSettings.json
CMakeSettings.json

# Exclude Resource
[Rr]esources/
[Aa]ssets/

!resources/shaders/

#eclude dlls or shared libraries
*.dll
*.so
chEditor/Content/fonts/fa-brands-400.ttf chEditor/Content/fonts/fa-regular-400.ttf chEditor/Content/fonts/fa-solid-900.ttf chEditor/Content/fonts/FiraCodeNerdFont-Regular.ttf
#exclude .ini
*.ini
