[submodule "chCore/externals/assimp"]
	path = chCore/externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "chCore/externals/SDL3"]
	path = chCore/externals/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "chEditor/externals/nativefiledialog-extended"]
	path = chEditor/externals/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
